<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="mb-4">Kayıt Ol</h3>

                    <!-- Kullanıcı Adı -->
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="username">Kullanıcı Adı :</label>
                            <input type="text" class="form-control mb-2" id="username" [(ngModel)]="username" name="username">
                        </div>
                    </div>

                    <!-- E-posta -->
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="email">E-posta :</label>
                            <input type="email" class="form-control mb-2" id="email" [(ngModel)]="email" name="email">
                        </div>
                    </div>

                    <!-- Şifre -->
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="password">Şifre :</label>
                            <input type="password" class="form-control mb-2" id="password" [(ngModel)]="password" name="password">
                        </div>
                    </div>

                    <!-- Kayıt Ol Butonu -->
                    <button type="submit" class="btn btn-primary w-100" (click)="onSubmit()">Kayıt Ol</button>
                </div>
            </div>
        </div>
    </div>
</div>
